---
http_interactions:
- request:
    method: get
    uri: https://wsaahomo.afip.gov.ar/ws/services/LoginCms?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <wsdl:definitions targetNamespace="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" xmlns:intf="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" xmlns:tns1="http://wsaa.view.sua.dvadac.desein.afip.gov" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <!--WSDL created by Apache Axis version: 1.4
        Built on Apr 22, 2006 (06:55:48 PDT)-->
         <wsdl:types>
          <schema elementFormDefault="qualified" targetNamespace="http://wsaa.view.sua.dvadac.desein.afip.gov" xmlns="http://www.w3.org/2001/XMLSchema">
           <import namespace="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"/>
           <element name="loginCms">
            <complexType>
             <sequence>
              <element name="in0" type="xsd:string"/>
             </sequence>
            </complexType>
           </element>
           <element name="loginCmsResponse">
            <complexType>
             <sequence>
              <element name="loginCmsReturn" type="xsd:string"/>
             </sequence>
            </complexType>
           </element>
          </schema>
          <schema elementFormDefault="qualified" targetNamespace="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" xmlns="http://www.w3.org/2001/XMLSchema">
           <complexType name="LoginFault">
            <sequence/>
           </complexType>
           <element name="fault" type="impl:LoginFault"/>
          </schema>
         </wsdl:types>

           <wsdl:message name="loginCmsRequest">

              <wsdl:part element="tns1:loginCms" name="parameters">

              </wsdl:part>

           </wsdl:message>

           <wsdl:message name="LoginFault">

              <wsdl:part element="impl:fault" name="fault">

              </wsdl:part>

           </wsdl:message>

           <wsdl:message name="loginCmsResponse">

              <wsdl:part element="tns1:loginCmsResponse" name="parameters">

              </wsdl:part>

           </wsdl:message>

           <wsdl:portType name="LoginCMS">

              <wsdl:operation name="loginCms">

                 <wsdl:input message="impl:loginCmsRequest" name="loginCmsRequest">

               </wsdl:input>

                 <wsdl:output message="impl:loginCmsResponse" name="loginCmsResponse">

               </wsdl:output>

                 <wsdl:fault message="impl:LoginFault" name="LoginFault">

               </wsdl:fault>

              </wsdl:operation>

           </wsdl:portType>

           <wsdl:binding name="LoginCmsSoapBinding" type="impl:LoginCMS">

              <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

              <wsdl:operation name="loginCms">

                 <wsdlsoap:operation soapAction=""/>

                 <wsdl:input name="loginCmsRequest">

                    <wsdlsoap:body use="literal"/>

                 </wsdl:input>

                 <wsdl:output name="loginCmsResponse">

                    <wsdlsoap:body use="literal"/>

                 </wsdl:output>

                 <wsdl:fault name="LoginFault">

                    <wsdlsoap:fault name="LoginFault" use="literal"/>

                 </wsdl:fault>

              </wsdl:operation>

           </wsdl:binding>

           <wsdl:service name="LoginCMSService">

              <wsdl:port binding="impl:LoginCmsSoapBinding" name="LoginCms">

                 <wsdlsoap:address location="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"/>

              </wsdl:port>

           </wsdl:service>

        </wsdl:definitions>
  recorded_at: Fri, 25 Sep 2020 16:17:11 GMT
- request:
    method: post
    uri: https://wsaahomo.afip.gov.ar/ws/services/LoginCms
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns1="https://wsaahomo.afip.gov.ar/ws/services/LoginCms" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ins0="http://wsaa.view.sua.dvadac.desein.afip.gov"><env:Body><ins0:loginCms><ins0:in0>vcr_mock</ins0:in0></ins0:loginCms></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"loginCms"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><loginCmsResponse xmlns="http://wsaa.view.sua.dvadac.desein.afip.gov"><loginCmsReturn>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;yes&quot;?&gt;
        &lt;loginTicketResponse version=&quot;1.0&quot;&gt;
            &lt;header&gt;
                &lt;source&gt;CN=wsaahomo, O=AFIP, C=AR, SERIALNUMBER=CUIT 33693450239&lt;/source&gt;
                &lt;destination&gt;SERIALNUMBER=CUIT 20351404478, CN=programando&lt;/destination&gt;
                &lt;uniqueId&gt;4067638975&lt;/uniqueId&gt;
                &lt;generationTime&gt;2020-09-25T13:17:12.[...]
